In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import cross_val_score, GridSearchCV, RandomizedSearchCV, train_test_split, RepeatedStratifiedKFold

from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from imblearn.pipeline import Pipeline

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import classification_report

import datetime as dt

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
ready = pd.read_csv('ready.csv')
ready

         Unnamed: 0       lat         lon  day  month  Labels
0                 0 -6.270088  107.043609   25      9    True
1                 1 -6.270088  107.043609   25      9    True
2                 2 -6.270088  107.043609   25      9    True
3                 3 -6.270088  107.043609   25      9    True
4                 4 -6.270088  107.043609   25      9    True
...             ...       ...         ...  ...    ...     ...
3707443     3707443 -6.886813  107.581583   22     11    True
3707444     3707444 -6.886813  107.581583   22     11    True
3707445     3707445 -6.886813  107.581583   22     11    True
3707446     3707446 -6.886813  107.581583   22     11    True
3707447     3707447 -6.886813  107.581583   22     11    True

[3707448 rows x 6 columns]

In [6]:
ready.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3707448 entries, 0 to 3707447
Data columns (total 9 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   lat         float64
 2   lon         float64
 3   day         int64
 4   month       int64
 5   Labels      bool
 6   x           float64
 7   y           float64
 8   z           float64
dtypes: bool(1), float64(5), int64(3)
memory usage: 229.8 MB

In [4]:
ready['x'] = np.cos(ready['lat']) * np.cos(ready['lon'])
ready['y'] = np.cos(ready['lat']) * np.sin(ready['lon'])
ready['z'] = np.sin(ready['lat'])

In [7]:
X = ready['x y z day month'.split()]
y = np.where(ready['Labels']==True,1,0)

In [8]:
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, stratify=y, random_state=24)

In [14]:
lr_bal = LogisticRegression(class_weight='balanced', solver='liblinear')

In [ ]:
rskf = RepeatedStratifiedKFold()
lr_bal_cv = cross_val_score(lr_bal, X_train_val, y_train_val, cv=rskf, verbose=1)

In [13]:
lr_bal

LogisticRegression(class_weight='balanced', solver='liblinear')