In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import cross_val_score, GridSearchCV, RandomizedSearchCV, train_test_split, StratifiedKFold
from sklearn.calibration import CalibratedClassifierCV
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import VotingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, plot_precision_recall_curve, plot_roc_curve, roc_curve, confusion_matrix
from sklearn.feature_selection import RFE

from sklearn.preprocessing import StandardScaler, PolynomialFeatures, KBinsDiscretizer
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from sklearn.impute import SimpleImputer

from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

from sklearn.metrics import classification_report
from xgboost.sklearn import XGBClassifier

import datetime as dt

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)

In [3]:
transformer = ColumnTransformer([
    ('poly', PolynomialFeatures(degree=3), ['x', 'y', 'z', 'speed_decrease_%']),
    ('kbins', KBinsDiscretizer(n_bins=3, encode='ordinal', strategy='uniform'), ['day', 'hour_y'])
], remainder='passthrough')

logit_pipe = Pipeline([
    ('trans', transformer),
    ('fs', RFE(LogisticRegression(C=0.01, solver='liblinear', random_state=2020, verbose=1, class_weight='balanced'))),
    ('clf', LogisticRegression(C=0.01, solver='liblinear', random_state=2020, verbose=1, class_weight='balanced'))
])

In [4]:
ready = pd.read_csv('ready_speed.csv')

In [5]:
X = ready['x y z day month hour_y road_type jam_level speed_decrease_%'.split()]
y = np.where(ready['Labels']==True,1,0)

In [6]:
# len(X)

In [7]:
# X_train_val, X_test, y_train_val, y_test = train_test_split(X,y,test_size=.2,stratify=y,random_state=2021)

In [8]:
# logit_pipe.fit(X_train_val, y_train_val)

In [9]:
# y_pred = logit_pipe.predict(X_test)

# print(classification_report(y_test, y_pred))

In [10]:
# plot_roc_curve(logit_pipe, X_test, y_test)

In [11]:
# y_prob1 = logit_pipe.predict_proba(X_test)[:,1]
# fpr, tpr, thr = roc_curve(y_test, y_prob1)

In [12]:
# roc_df = pd.DataFrame({'fpr': fpr, 'tpr': tpr, 'thr': thr})
# roc_df[roc_df['tpr'].between(0.95,1)].sort_values('tpr', ascending=False).head(50)

In [13]:
# new_thr = 0.202157
# y_pred0202 = np.where(logit_pipe.predict_proba(X_test)[:,1]>new_thr, True, False)

# print(classification_report(y_test, y_pred0202))

In [14]:
# confusion_matrix(y_test, y_pred0202)

In [15]:
logit_pipe.fit(X,y)

[LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear][LibLinear]

Pipeline(steps=[('trans',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('poly',
                                                  PolynomialFeatures(degree=3),
                                                  ['x', 'y', 'z',
                                                   'speed_decrease_%']),
                                                 ('kbins',
                                                  KBinsDiscretizer(encode='ordinal',
                                                                   n_bins=3,
                                                                   strategy='uniform'),
                                                  ['day', 'hour_y'])])),
                ('fs',
                 RFE(estimator=LogisticRegression(C=0.01,
                                                  class_weight='balanced',
                                                  random_state=2020,
                                                  solver='liblinear',
                                                  verbose=1))),
                ('clf',
                 LogisticRegression(C=0.01, class_weight='balanced',
                                    random_state=2020, solver='liblinear',
                                    verbose=1))])

In [16]:
import joblib
joblib.dump(logit_pipe, 'logit_pipe')

['logit_pipe']

In [26]:
speed = pd.read_csv('merge_speed.csv')
speed.head()

,Unnamed: 0,s2token_15,x,y,z,day,month,hour_y,street_y,road_type,jam_level,speed_decrease_%,Freq
0,0,2e6992a84,0.994031,0.108207,-0.013921,25,11,18,Hankam Raya,2.0,4.0,59.383562,280.0
1,1,2e68e62f4,0.561143,0.574345,-0.596025,29,11,20,Asia Afrika,7.0,3.0,42.996743,105.0
2,2,2e68e81a4,0.525794,0.591784,-0.611009,27,11,10,N11 Soekarno-Hatta,6.0,3.0,14.737794,32.0
3,3,2e69eec04,0.996602,-0.021315,-0.079557,24,11,7,NaN,NaN,NaN,NaN,NaN
4,4,2e698e4a4,0.972344,0.233176,0.013294,27,11,8,NaN,NaN,NaN,NaN,NaN

In [27]:
X.head()

,x,y,z,day,month,hour_y,road_type,jam_level,speed_decrease_%
0,0.973706,0.227431,0.013097,25,9,10,2,4,73.663675
1,0.973706,0.227431,0.013097,25,9,10,2,4,73.555629
2,0.973706,0.227431,0.013097,25,9,10,2,4,73.525966
3,0.973706,0.227431,0.013097,25,9,10,2,3,69.983580
4,0.973706,0.227431,0.013097,25,9,10,2,4,69.160653

In [28]:
bismillah = speed[X.columns]

In [29]:
bismillah

,x,y,z,day,month,hour_y,road_type,jam_level,speed_decrease_%
0,0.994031,0.108207,-0.013921,25,11,18,2.0,4.0,59.383562
1,0.561143,0.574345,-0.596025,29,11,20,7.0,3.0,42.996743
2,0.525794,0.591784,-0.611009,27,11,10,6.0,3.0,14.737794
3,0.996602,-0.021315,-0.079557,24,11,7,NaN,NaN,NaN
4,0.972344,0.233176,0.013294,27,11,8,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
13836,0.520341,0.621773,-0.585357,26,11,5,6.0,3.0,49.233465
13837,0.953392,0.301451,0.013105,24,11,22,NaN,NaN,NaN
13838,0.991486,-0.047556,-0.121218,24,11,10,7.0,2.0,13.827655
13839,0.951855,0.294791,-0.084091,24,11,18,7.0,3.0,32.158055
13840,0.989194,0.146264,-0.010091,25,11,19,2.0,3.0,13.211845

In [37]:
bismillah_clean = bismillah.fillna(method='bfill')

In [38]:
bismillah_clean

,x,y,z,day,month,hour_y,road_type,jam_level,speed_decrease_%
0,0.994031,0.108207,-0.013921,25,11,18,2.0,4.0,59.383562
1,0.561143,0.574345,-0.596025,29,11,20,7.0,3.0,42.996743
2,0.525794,0.591784,-0.611009,27,11,10,6.0,3.0,14.737794
3,0.996602,-0.021315,-0.079557,24,11,7,2.0,3.0,52.447917
4,0.972344,0.233176,0.013294,27,11,8,2.0,3.0,52.447917
...,...,...,...,...,...,...,...,...,...
13836,0.520341,0.621773,-0.585357,26,11,5,6.0,3.0,49.233465
13837,0.953392,0.301451,0.013105,24,11,22,7.0,2.0,13.827655
13838,0.991486,-0.047556,-0.121218,24,11,10,7.0,2.0,13.827655
13839,0.951855,0.294791,-0.084091,24,11,18,7.0,3.0,32.158055
13840,0.989194,0.146264,-0.010091,25,11,19,2.0,3.0,13.211845

In [39]:
prediksi_bismillah = np.where(logit_pipe.predict_proba(bismillah_clean)[:,1]>0.202157, True, False)

In [40]:
bismillah_df = pd.read_csv('data_test.csv')

In [41]:
bismillah_df['Labels'] = prediksi_bismillah

In [43]:
bismillah_df.to_csv('submit4.csv', index=False)